@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #0e1012;
    color: #fafffd;
    -webkit-tap-highlight-color: transparent;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: shadow 0.5s 0s linear;
    -moz-animation: shadow 0.5s 0s linear;
    animation: shadow 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes shadow {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

button:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
}

.essentials {
    display: block;
    margin: 30px;
}

.essentials img {
    display: block;
    margin-block: 30px;
}


.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.type-disc {
    position: relative;
    padding: 6px;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    clip-path: circle(40%);
    scale: 2;
    transform-origin: 0;
}

h2 {
    text-transform: capitalize;
}


li {
    border-radius: 50%;
    inline-size: 3ch;
    block-size: 3ch;
    text-align: center;
    padding-block-start: 4.5px;
    margin: 2px;
}

.weather {
    inline-size: 40px;
    block-size: 35px;
    object-fit: contain;
    image-rendering: optimizeQuality;
    opacity: 0.6;
    margin-inline: -5px;
}


.Rain {
    clip-path: circle(40%);
}

.Fog {
    padding: 8px
}

.Clear {
    padding: 7px;
}

.Sunny {
    padding: 6px;
}

.Windy {
    padding: 5px;
}

.Snow {
    padding: 4px;
}

.PartlyCloudy {
    padding: 4px;
    translate: 0 -2.5px;
}

.Cloudy {
    padding: 3.5px;
    translate: -6px 0;
}

.tier {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin-block: 110px;
    justify-content: center;
    gap: 10px;
}

.tier:last-of-type {
    margin-block-end: 20px;
}

h1 {
    position: absolute;
    text-align: center;
    translate: -50% 0;
    inset-inline-start: 50%;
    inset-block-start: -65px;
}

.raid-pokemon {
    position: relative;
    user-select: none;
    background-color: #1a171d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
}

.pokemon-image {
    block-size: 150px;
    inline-size: 150px;
}

.disc-container {
    position: absolute;
    inset-inline-end: 40px;
    inset-block-start: 30px;
}

.tier-strip {
    cursor: pointer;
    display: block;
    inline-size: 100%;
    background-color: #e1d7f6;
    border-radius: 10px;
    color: #1a171d;
    font-weight: bold;
    padding: 7px;
}

.difficulty-icons {
    position: relative;
    list-style: none;
    display: flex;
    translate: 0 10px;
}

.weather-wrapper {
    position: absolute;
    inset-inline-end: 60%;
    inset-block-end: 73px;
    /* translate: calc(-50px + 50%) 0; */
}

.non-boosted-cp {
    font-size: 1.5rem;
}

.boosted-cp {
    font-size: 2rem;
    color: rgb(225, 197, 128);
}

h3 {
    color: rgb(225, 197, 128);
}

h3.empty {
    color: transparent;
}

.raid-pokemon {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.raid-pokemon:hover::after {
    user-select: none;
    position: absolute;
    content: "";
    inline-size: 100%;
    block-size: 100%;
    z-index: 1;
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: rgba(241, 228, 252, 0.334);
    background-image: url("./images/eye.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

img.shiny {
    position: absolute;
    inset-block-start: 15px;
    inset-inline-start: 15px;
    z-index: 4;
    filter: invert(37%) sepia(86%) saturate(2442%) hue-rotate(227deg) brightness(101%) contrast(100%) grayscale(0.8);

}

img.shiny:hover {
    filter: invert(84%) sepia(12%) saturate(664%) hue-rotate(210deg) brightness(104%) contrast(93%);
}

.tier-strip:hover {
    text-decoration: line-through;
    text-decoration-color: #dc143c;
}

.chart-container {
    background-color: hsla(0, 100%, 50%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%);
    padding-block: 30px;
    padding-inline: 40px;
    inline-size: 100vw;
    overflow: hidden;
}

h1.title {
    position: relative;
    inset-block-start: 25px;
    font-size: 4rem;
    color: #e1d7f6;
}

.image-logo {
    text-align: center;
    display: block;
    margin-inline: auto;
}